<section class="page-section text-white mb-5" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white shadow-custom">
            O mnie
        </h2>
        <h6 class="text-center text-uppercase text-white shadow-custom">
            Ostatnia aktualizacja: Jeszcze nie xD
        </h6>

        <!-- About Section Content-->
        <div id="accordion" class="mb-5 about-custom">
            <div class="card card-custom">
                <div class="card-header card-header-custom mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="mb-0 btn btn-link btn-about-custom shadow-custom">Umiejętności</h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body card-body-custom mt-0">
                        <div class="container">
                            <div class="row justify-content-center">
                                
                                <div class="column-md-2">
                                    <label class="checkbox ml-auto mr-auto mb-0 mt-0">
                                        <input type="checkbox" id="checkboxNames" onclick="checkboxNames();"/>
                                        <svg viewBox="0 0 21 18">
                                            <symbol id="tick-path" viewBox="0 0 21 18"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M5.22003 7.26C5.72003 7.76 7.57 9.7 8.67 11.45C12.2 6.05 15.65 3.5 19.19 1.69"
                                                    fill="none" stroke-width="2.25" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </symbol>
                                            <defs>
                                                <mask id="tick">
                                                    <use class="tick mask" href="#tick-path" />
                                                </mask>
                                            </defs>
                                            <use class="tick" href="#tick-path" stroke="currentColor" />
                                            <path fill="white" mask="url(#tick)"
                                                d="M18 9C18 10.4464 17.9036 11.8929 17.7589 13.1464C17.5179 15.6054 15.6054 17.5179 13.1625 17.7589C11.8929 17.9036 10.4464 18 9 18C7.55357 18 6.10714 17.9036 4.85357 17.7589C2.39464 17.5179 0.498214 15.6054 0.241071 13.1464C0.0964286 11.8929 0 10.4464 0 9C0 7.55357 0.0964286 6.10714 0.241071 4.8375C0.498214 2.39464 2.39464 0.482143 4.85357 0.241071C6.10714 0.0964286 7.55357 0 9 0C10.4464 0 11.8929 0.0964286 13.1625 0.241071C15.6054 0.482143 17.5179 2.39464 17.7589 4.8375C17.9036 6.10714 18 7.55357 18 9Z" />
                                        </svg>
                                        <svg class="lines" viewBox="0 0 11 11">
                                            <path d="M5.88086 5.89441L9.53504 4.26746" />
                                            <path d="M5.5274 8.78838L9.45391 9.55161" />
                                            <path d="M3.49371 4.22065L5.55387 0.79198" />
                                        </svg>
                                    </label>
                                    <p class="checkbox-text ml-auto mr-auto mt-1 mb-2 shadow-custom">
                                        Pokaż nazwy
                                    </p>
                                </div>
                                <div class="column-md-2 radio-custom">
                                    <form name="aboutForm">
                                        <div class="element ml-3 box-shadow-custom">
                                            <input type="radio" id="all" name="btn" value="all" checked="checked">
                                            <label for="all" class="shadow-custom mb-1">Wszystko</label>
                                        </div>
                                        <div class="element ml-3 box-shadow-custom">
                                            <input class="box-shadow-custom" type="radio" id="lang" name="btn" value="lang">
                                            <label for="lang" class="shadow-custom mb-1">Języki</label>
                                        </div>
                                        <div class="element ml-3">
                                            <input type="radio" id="web" name="btn" value="web">
                                            <label for="web" class="shadow-custom mb-1">WEB</label>
                                        </div>
                                        <div class="element ml-3">
                                            <input type="radio" id="robo" name="btn" value="robo">
                                            <label for="robo" class="shadow-custom mb-1">Robotyka</label>
                                        </div>
                                        <div class="element ml-3">
                                            <input type="radio" id="game" name="btn" value="game">
                                            <label for="game" class="shadow-custom mb-1">Gry</label>
                                        </div>
                                        <div class="element ml-3">
                                            <input type="radio" id="tools" name="btn" value="tools">
                                            <label for="tools" class="shadow-custom mb-1">Inne</label>
                                        </div>
                                    </form>
                                </div>
                                <span class="column-md-2 ml-2 tip-custom" data-toggle="tooltip" data-placement="top" title="All we ever hear from you is blah blah blah
So, all we ever do is go ja ja ja
And we don't even care about what they say 'cause it's
Ja ja ja ja
Blah blah blah blah">
                                    <i class="fas fa-info-circle"></i>
                                </span>   
                            </div>
                        </div>
                        <div class="carousel-placeholder">
                            <!-- Set up your HTML -->
                            <div class="owl-carousel owl-theme owl-custom mb-3 skills-all display-skill-right">

                                {% include skill.html text='HTML' iconClass='fa-html5'
                                value='4'%}
                                {% include skill.html text='CSS' iconClass='fa-css3-alt'
                                value='3'%}
                                {% include skill.html text='JS' iconClass='fa-js-square'
                                value='5'%}
                                {% include skill.html text='PHP' iconClass='fa-php'
                                value='1'%}
                                {% include skill.html text='SQL' iconClass='fas fa-database'
                                value='5'%}
                                {% include skill.html text='Sass' iconClass='devicon-sass-original'
                                value='2'%}
                                {% include skill.html text='git' iconClass='fa-git-alt'
                                value='5'%}
                                {% include skill.html text='C++' iconClass='devicon-cplusplus-plain'
                                value='5'%}
                                {% include skill.html text='Python' iconClass='fa-python'
                                value='2' %}
                                {% include skill.html text='C' iconClass='devicon-c-plain'
                                value='3' %}
                                {% include skill.html text='C#' iconClass='devicon-csharp-plain'
                                value='2' %}
                                {% include skill.html text='Java' iconClass='devicon-java-plain'
                                value='1' tag=''%}
                                {% include skill.html text='Node.js' iconClass='devicon-nodejs-plain'
                                value='1' %}
                                {% include skill.html text='Linux' iconClass='devicon-linux-plain'
                                value='2' %}
                                {% include skill.html text='RaspberryPi' iconClass='devicon-raspberrypi-line'
                                value='2' %}
                                {% include skill.html text='Arduino' iconClass='devicon-arduino-plain'
                                value='5' %}
                                {% include skill.html text='Unity' iconClass='devicon-unity-original'
                                value='3' %}
                                {% include skill.html text='SFML' iconClass='simple-icons:sfml'
                                value='5' ico='true'%}
                                {% include skill.html text='Bootstrap' iconClass='devicon-bootstrap-plain'
                                value='3' %}
                                {% include skill.html text='MatLab' iconClass='devicon-matlab-plain'
                                value='2' %}
                                {% include skill.html text='jQuery' iconClass='devicon-jquery-plain'
                                value='2' %}
                                {% include skill.html text='Qt' iconClass='devicon-qt-original'
                                value='2' %}
                                {% include skill.html text='Outsystems' iconClass='fa fa-o'
                                value='4' %}
                                {% include skill.html text='Construct' iconClass='simple-icons:construct3'
                                value='5' ico='true'%}
                                <!-- {% include skill.html text='Json' iconClass='simple-icons:json'
                  value='2' tag='' ico='true'%} -->
                                <!-- {% include skill.html text='YAML' iconClass='file-icons:yaml-alt4'
                  value='2' tag='' ico='true'%} -->
                                {% include skill.html text='Jekyll' iconClass='simple-icons:jekyll'
                                value='4' ico='true'%}
                            </div>
                            <div class="owl-carousel owl-theme owl-custom mb-3 skills-lang display-none-skill-right">
                                {% include skill.html text='HTML' iconClass='fa-html5'
                                value='4'%}
                                {% include skill.html text='CSS' iconClass='fa-css3-alt'
                                value='3'%}
                                {% include skill.html text='JS' iconClass='fa-js-square'
                                value='5'%}
                                {% include skill.html text='PHP' iconClass='fa-php'
                                value='1'%}
                                {% include skill.html text='SQL' iconClass='fas fa-database'
                                value='5'%}
                                {% include skill.html text='C++' iconClass='devicon-cplusplus-plain'
                                value='5'%}
                                {% include skill.html text='Python' iconClass='fa-python'
                                value='2' %}
                                {% include skill.html text='C' iconClass='devicon-c-plain'
                                value='3' %}
                                {% include skill.html text='C#' iconClass='devicon-csharp-plain'
                                value='2' %}
                                {% include skill.html text='Java' iconClass='devicon-java-plain'
                                value='1' tag=''%}
                                {% include skill.html text='MatLab' iconClass='devicon-matlab-plain'
                                value='2' %}
                            </div>
                            <div class="owl-carousel owl-theme owl-custom mb-3 skills-web display-none-skill-right">
                                {% include skill.html text='HTML' iconClass='fa-html5'
                                value='4' %}
                                {% include skill.html text='CSS' iconClass='fa-css3-alt'
                                value='3' %}
                                {% include skill.html text='JS' iconClass='fa-js-square'
                                value='5' tag='web game'%}
                                {% include skill.html text='PHP' iconClass='fa-php'
                                value='1' tag=''%}
                                {% include skill.html text='SQL' iconClass='fas fa-database'
                                value='5' %}
                                {% include skill.html text='Sass' iconClass='devicon-sass-original'
                                value='2' %}
                                {% include skill.html text='Node.js' iconClass='devicon-nodejs-plain'
                                value='1' %}
                                {% include skill.html text='Bootstrap' iconClass='devicon-bootstrap-plain'
                                value='3' %}
                                {% include skill.html text='jQuery' iconClass='devicon-jquery-plain'
                                value='2' %}
                                {% include skill.html text='Outsystems' iconClass='fa fa-o'
                                value='4' %}
                                {% include skill.html text='Jekyll' iconClass='simple-icons:jekyll'
                                value='4' ico='true'%}
                            </div>
                            <div class="owl-carousel owl-theme owl-custom mb-3 skills-robo display-none-skill-right">
                                {% include skill.html text='C++' iconClass='devicon-cplusplus-plain'
                                value='5' tag='robo game'%}
                                {% include skill.html text='C' iconClass='devicon-c-plain'
                                value='3' %}
                                {% include skill.html text='Linux' iconClass='devicon-linux-plain'
                                value='2' %}
                                {% include skill.html text='RaspberryPi' iconClass='devicon-raspberrypi-line'
                                value='2' %}
                                {% include skill.html text='Arduino' iconClass='devicon-arduino-plain'
                                value='5' %}
                                {% include skill.html text='MatLab' iconClass='devicon-matlab-plain'
                                value='2' %}
                            </div>
                            <div class="owl-carousel owl-theme owl-custom mb-3 skills-game display-none-skill-right">
                                {% include skill.html text='JS' iconClass='fa-js-square'
                                value='5' tag='web game'%}
                                {% include skill.html text='C++' iconClass='devicon-cplusplus-plain'
                                value='5' tag='robo game'%}
                                {% include skill.html text='Python' iconClass='fa-python'
                                value='2' %}
                                {% include skill.html text='C#' iconClass='devicon-csharp-plain'
                                value='2' %}
                                {% include skill.html text='Unity' iconClass='devicon-unity-original'
                                value='3' %}
                                {% include skill.html text='SFML' iconClass='simple-icons:sfml'
                                value='5' ico='true'%}
                                {% include skill.html text='Construct' iconClass='simple-icons:construct3'
                                value='5' ico='true'%}
                            </div>
                            <div class="owl-carousel owl-theme owl-custom mb-3 skills-others display-none-skill-right">
                                {% include skill.html text='git' iconClass='fa-git-alt'
                                value='5'%}
                                {% include skill.html text='Linux' iconClass='devicon-linux-plain'
                                value='2' %}
                                {% include skill.html text='Qt' iconClass='devicon-qt-original'
                                value='2' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-custom">
                <div class="card-header card-header-custom collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    <h5 class="mb-0 btn btn-link btn-about-custom">Teraz</h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body card-body-custom">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                        accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa
                        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                        put a bird on it squid single-origin coffee nulla assumenda
                        shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                        wes anderson cred nesciunt sapiente ea proident. Ad vegan
                        excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably
                        haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card card-custom">
                <div class="card-header card-header-custom collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    <h5 class="mb-0 btn btn-link btn-about-custom">Historia</h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body card-body-custom">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                        accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa
                        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                        put a bird on it squid single-origin coffee nulla assumenda
                        shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                        wes anderson cred nesciunt sapiente ea proident. Ad vegan
                        excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably
                        haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
        <div class=" arrows-container" id="headerArrow">
            <a href="#portfolio">
              <svg id="more-arrows">
                <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 " />
                <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 " />
                <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 " />
              </svg>
            </a>
          </div>
    </div>
</section>