<section class="page-section text-white mb-5 shadow-custom" id="contact">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      Kontakt
    </h2>
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-kiwi-bird"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form action="https://formspree.io/f/mrgjangn" method="POST" />
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label class="shadow-custom">Imię</label>
            <input name="Name" class="form-control" id="name" type="text" placeholder="Imię" required="required"
              data-validation-required-message="Proszę podać imię.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label class="shadow-custom">Adres e-mail</label>
            <input name="Email" class="form-control" id="email" type="email" placeholder="Adres e-mail"
              required="required" data-validation-required-message="Prosze podać adres e-mail">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label class="shadow-custom">Wiadomość</label>
            <textarea name="Message" class="form-control" id="message" rows="5" placeholder="Wiadomość"
              required="required" data-validation-required-message="Proszę podać wiadomość."></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        <div id="Sukces"></div>
        <div class="form-group">
          <button type="submit" class="btn btn-xl btn-about-custom shadow-custom" id="sendMessageButton">Wyślij</button>
        </div>
        </form>
      </div>
    </div>

  </div>
</section>