<section class="page-section text-white mb-5 shadow-custom" id="contact">
    <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">
        Kontakt
      </h2>
      <!-- <h6 class="text-center text-uppercase text-white">Ostatnia aktualizacja: Jeszcze nie xD</h6> -->
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-kiwi-bird"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
        pellentesque mauris nec rutrum aliquam. Donec interdum risus sed sem
        tincidunt euismod. Aliquam magna metus, dictum sit amet dignissim a,
        vestibulum at quam. Maecenas feugiat sem elit, in tempus nibh
        malesuada id. Sed sollicitudin, nibh sit amet tristique fringilla,
        dolor sapien euismod sapien, eu rutrum elit erat a urna. Praesent in
        sapien ante. Sed dui sem, auctor in nisl ultricies, aliquam posuere
        urna. Praesent id massa ut lorem sollicitudin pharetra. Nullam
        ullamcorper euismod porta.
        <br /><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
        pellentesque mauris nec rutrum aliquam. Donec interdum risus sed sem
        tincidunt euismod. Aliquam magna metus, dictum sit amet dignissim a,
        vestibulum at quam. Maecenas feugiat sem elit, in tempus nibh
        malesuada id. Sed sollicitudin, nibh sit amet tristique fringilla,
        dolor sapien euismod sapien, eu rutrum elit erat a urna. Praesent in
        sapien ante. Sed dui sem, auctor in nisl ultricies, aliquam posuere
        urna. Praesent id massa ut lorem sollicitudin pharetra. Nullam
        ullamcorper euismod porta.

        <br /><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
        pellentesque mauris nec rutrum aliquam. Donec interdum risus sed sem
        tincidunt euismod. Aliquam magna metus, dictum sit amet dignissim a,
        vestibulum at quam. Maecenas feugiat sem elit, in tempus nibh
        malesuada id. Sed sollicitudin, nibh sit amet tristique fringilla,
        dolor sapien euismod sapien, eu rutrum elit erat a urna. Praesent in
        sapien ante. Sed dui sem, auctor in nisl ultricies, aliquam posuere
        urna. Praesent id massa ut lorem sollicitudin pharetra. Nullam
        ullamcorper euismod porta.
      </div>
    </div>
  </section>