<section class="page-section text-white mb-5" id="portfolio">
    <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">
        Porfolio
      </h2>
      <!-- <h6 class="text-center text-uppercase text-white">Ostatnia aktualizacja: Jeszcze nie xD</h6> -->
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-kiwi-bird"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <div class="slider-container mb-3">
        <div class="my-slider">
          <div class="portfolio-img">
            <img src = "../assets/img/portfolio/tafl/tafl.svg" alt="Error: tafl.svg" />
          </div>    
          <div class="portfolio-img">
            <img src = "../assets/img/portfolio/calk/calk.svg" alt="Error: calk.svg" />
          </div>
          <div class="portfolio-img">
            <img src = "../assets/img/portfolio/ara/ara.svg" alt="Error: ara.svg" />
          </div>
          <div class="portfolio-img">
            <img src = "../assets/img/portfolio/grzes/grzes.svg" alt="Error: grzes.svg" />
          </div>
          <div class="portfolio-img">
            <img src = "../assets/img/portfolio/jack/jack.svg" alt="Error: jack.svg" />
          </div>  
          <div class="portfolio-img">
            <img src = "../assets/img/portfolio/lamp/lamp.svg" alt="Error: lamp.svg" />
          </div>  
          <div class="portfolio-img">
            <img src = "../assets/img/portfolio/wysw/wysw.svg" alt="Error: wysw.svg" />
          </div>   
          <div class="portfolio-img">
            <img src = "../assets/img/portfolio/zasi/zasi.svg" alt="Error: zasi.svg" />
          </div>      
        </div>
      </div>

      
      <div class=" arrows-container" id="headerArrow">
        <a href="#contact">
          <svg id="more-arrows">
            <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 " />
            <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 " />
            <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 " />
          </svg>
        </a>
      </div>
  </section>