.form-group{
    label{
    }
    input{
        background-color: var(--gradient-color-11) !important;
        border: none;
        box-shadow: inset -2px 2px 8px #0004;
        
        &:focus{
            box-shadow: inset -2px 2px 8px #0004;
        }
    }

    .form-control{
        color: white;

        &::placeholder{
            color: white !important;
            box-shadow: inset -2px 2px 8px #0004;
            opacity: .5;
        }
    }

    textarea{
        background-color: var(--gradient-color-11) !important;
        border: none;
        box-shadow: inset -2px 2px 8px #0004;
        
        &:focus{
            // box-shadow: 0 0 0 .2rem var(--gradient-color-10);
        box-shadow: inset -2px 2px 8px #0004;
            
        }        
    }

    .btn{
        
    }
}

