.slider-container{
    .portfolio-img{
        width: 25vw;
        height: 100%;
        
        filter: drop-shadow(-2px 2px 2px #0004);
        img{
            width: 100%;
        }
        
    
    }
    .year-inner{
        height: 100% !important;
        p{
            background-color: var(--gradient-color-11);
            filter: drop-shadow(-2px 2px 2px #0004);
            border-radius: 10px;
            font-weight: bold;
            font-size: 2.6vw;
            margin: 0 !important;
            padding: 1vw;
            height: 100%;
        }
    }
}