.modal-content{
    background-color: var(--gradient-color-10);
    color: var(--main-font-color) !important;

    .close{
        padding: 0.5rem 0.8rem;
        color: var(--main-font-color);
        margin-left: auto;
    }

    .portfolio-modal-title{
        color: var(--main-font-color) !important;
    }

    .divider-custom{
        margin: 0.2rem 0rem;
    }
    i{
        color: var(--main-font-color) !important;
    }    
    iframe{
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        // height: auto;
        max-height: 80vh;
    }
    p{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0;
    }
    a{
        color: var(--gradient-color-1) !important;
        &:hover{
            color: var(--gradient-color-2) !important;
            text-decoration: none !important; 
        }
    }
}

