/*==============  GLOBAL  =============*/

body{
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    overflow-x: hidden;
}

p{
    margin: 20px 100px 0px 100px;
    text-align: justify;
}


.font-bold-custom{
    font-weight: 600;
}

/*==============  SCROLLBAR  =============*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #b44459;
    position: fixed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4534a;
  border-radius: 12px;
}
/* Hover */
body::-webkit-scrollbar-thumb:hover{
  background: #cc683a;
}
/*body::-webkit-scrollbar:hover{
  width: 18px;
  transition: 2s;                   <======  TO DO
}
*/

/*==============  NAVBAR  =============*/
.navbar-custom{
    background-color: #69e16d;
}
.navbar-text-color{ 
    color: #442B66;
    text-shadow: -1px 1px 2px #0004;
    font-weight: 600;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat; }

.flag-icon {
  position: relative;
  display: inline-block;
  width: 1.3333333333em;
  line-height: 1em; }
  .flag-icon:before {
    content: " "; }
  .flag-icon.flag-icon-squared {
    width: 1em; }

.flag-icon-gbr {
    background-image: url(../assets/img/gbr.svg); }

.wave-navbar {
    position: fixed;
    top: 54px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transition: 0.35s;
}

.wave-navbar-collpase-unfold {
    top: 176px;
    transition: 0.38s;
}

.wave-navbar svg {
    position: relative;
    left: -5%;
    display: block;
    width: 110%;
    height: 25px;
}

.wave-navbar .shape-fill {
    fill: #69e16d;
}

/*==============  HEADER  =============*/


.header-custom{
    height: 100vh;
    text-align: center;
}

.avatar{
    height: 40vh;
}

.header-text-custom{
    font-size: 7vh;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 5rem;
  height: 0.15rem;
  background-color: white;
  border-radius: 1rem;
  border-color: white !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #805122 !important;
  font-size: 5vh;
}
.divider-custom.divider-light .divider-custom-line {
  color:  white;
}

.fa-kiwi-bird{
   color: white;
}

.subheader-text-custom {
  font-size: 3vh;
}

/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  height: 65px;
}
#more-arrows:hover{
  cursor: pointer;
}
#more-arrows:hover polygon {

  fill: #FFF;
  transition: all 0.5s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}
  
polygon {
  fill: #FFF;
  transition: all .5s ease-out;    
} 
.arrow-middle {
  opacity: 0.75;
}
.arrow-top {
  opacity: 0.5
}
 
.blob{
    position:  absolute;
    left: -5%;
    top: 50px;
    z-index: -1;
    width: 110%;
    height: 105%;
}

/*----smartphones--*/

@media only screen and (max-width: 768px) {
    .header-text-custom{
        font-size: 5vh;
    }
    .subheader-text-custom {
      font-size: 2vh;
    }
    .divider-custom .divider-custom-icon {
      font-size: 3vh;
    }
}

/*==============  PORTFOLIO  =============*/

.lorem{
    margin-top: 300px;
}